<div class="access">
  <fieldset class="fieldSet">
    <legend>System Access</legend>
    <div>
      <span class="label">
        User Name:
      </span>
      <span class="field">
        @Html.TextBox("UserName")
      </span>
    </div>
    <div>
      <span class="label">
        Password:
      </span>
      <span class="field">
        @Html.Password("Password")
      </span>
    </div>
  </fieldset>
</div>
<div class="access">
  <button type="submit">Login</button>
</div>
