@{
  ViewBag.Title = "Home";

}

<div class="homewrapper">

  <div id="header">
    @Html.Partial("~/Views/Home/_HeaderPartial.cshtml")
  </div>

  <div id="menu">
    @Html.Partial("~/Views/Home/_MenuPartial.cshtml")
  </div>

  <div id="content">
    This is my content
  </div>

  <div id="footer">
    @Html.Partial("~/Views/Home/_Footerpartial.cshtml")
  </div>

</div>
